In [ ]:
5.1

In [1]:
import sqlite3

try:
    # Kết nối (hoặc tạo mới) file database
    conn = sqlite3.connect('my_database.db')
    cursor = conn.cursor()
    
    # Thực thi lệnh lấy version
    cursor.execute("SELECT sqlite_version();")
    version = cursor.fetchone()
    
    print(f"Phiên bản SQLite hiện tại là: {version[0]}")
    
    # Đóng kết nối
    cursor.close()
    conn.close()
except sqlite3.Error as e:
    print(f"Lỗi: {e}")

Phiên bản SQLite hiện tại là: 3.45.3

5.2

In [2]:
import sqlite3

# Sử dụng ':memory:' để tạo DB tạm thời trong RAM
conn = sqlite3.connect(':memory:')
print("Đã kết nối thành công tới SQLite database trong bộ nhớ (RAM).")

conn.close()

Đã kết nối thành công tới SQLite database trong bộ nhớ (RAM).

5.3

In [3]:
import sqlite3

conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

# Tạo bảng SinhVien
cursor.execute('''
    CREATE TABLE IF NOT EXISTS SinhVien (
        id INTEGER PRIMARY KEY,
        ho_ten TEXT NOT NULL,
        lop TEXT
    )
''')

print("Đã tạo bảng 'SinhVien' thành công.")
conn.commit()
conn.close()

Đã tạo bảng 'SinhVien' thành công.

5.4

In [4]:
import sqlite3

conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

# Truy vấn các bảng từ hệ thống
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

print("Danh sách các bảng trong database:")
for table in tables:
    print(f"- {table[0]}")

conn.close()

Danh sách các bảng trong database:
- SinhVien

5.5

In [5]:
import sqlite3

conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

# Tạo bảng SanPham
cursor.execute('CREATE TABLE IF NOT EXISTS SanPham (id INTEGER, ten TEXT, gia REAL)')

# Chèn dữ liệu
data = [(1, 'Laptop', 1500), (2, 'Mouse', 20), (3, 'Keyboard', 50)]
cursor.executemany('INSERT INTO SanPham VALUES (?, ?, ?)', data)
conn.commit()

# Lấy và hiển thị dữ liệu
cursor.execute('SELECT * FROM SanPham')
rows = cursor.fetchall()

print("Các bản ghi trong bảng SanPham:")
for row in rows:
    print(row)

conn.close()

Các bản ghi trong bảng SanPham:
(1, 'Laptop', 1500.0)
(2, 'Mouse', 20.0)
(3, 'Keyboard', 50.0)

5.6

In [6]:
import sqlite3

conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

cursor.execute('SELECT COUNT(*) FROM SanPham')
count = cursor.fetchone()[0]

print(f"Tổng số bản ghi trong bảng SanPham là: {count}")

conn.close()

Tổng số bản ghi trong bảng SanPham là: 3

5.7

In [7]:
import sqlite3

conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

# Ví dụ: Giảm giá tất cả sản phẩm (cập nhật cột 'gia') xuống còn 10
cursor.execute('UPDATE SanPham SET gia = 10')
conn.commit()

print(f"Đã cập nhật lại giá cho {cursor.rowcount} bản ghi.")

# Xem kết quả sau cập nhật
cursor.execute('SELECT * FROM SanPham')
print(cursor.fetchall())

conn.close()

Đã cập nhật lại giá cho 3 bản ghi.
[(1, 'Laptop', 10.0), (2, 'Mouse', 10.0), (3, 'Keyboard', 10.0)]

5.8

In [8]:
import sqlite3

conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

# Xóa sản phẩm có id = 2
id_to_delete = 2
cursor.execute('DELETE FROM SanPham WHERE id = ?', (id_to_delete,))
conn.commit()

print(f"Đã xóa bản ghi có id = {id_to_delete}.")

# Hiển thị lại bảng sau khi xóa
cursor.execute('SELECT * FROM SanPham')
print("Dữ liệu còn lại:", cursor.fetchall())

conn.close()

Đã xóa bản ghi có id = 2.
Dữ liệu còn lại: [(1, 'Laptop', 10.0), (3, 'Keyboard', 10.0)]

5.9

In [9]:
import pandas as pd
import io

# Tạo nội dung CSV
csv_data = """REGION_ID,REGION_NAME
1,Europe
2,Americas
3,Asia
4,Middle East and Africa"""

# Ghi vào file region.csv
with open('region.csv', 'w', encoding='utf-8') as f:
    f.write(csv_data)

# Đọc và hiển thị bằng Pandas
df = pd.read_csv('region.csv')
print("Nội dung file region.csv:")
print(df)

Nội dung file region.csv:
   REGION_ID             REGION_NAME
0          1                  Europe
1          2                Americas
2          3                    Asia
3          4  Middle East and Africa

5.10

In [10]:
import sqlite3

def init_db():
    conn = sqlite3.connect('product.db')
    cursor = conn.cursor()
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS product (
            Id INTEGER PRIMARY KEY,
            Name TEXT NOT NULL,
            Price REAL NOT NULL,
            Amount INTEGER NOT NULL
        )
    ''')
    conn.commit()
    return conn

def main_menu():
    conn = init_db()
    while True:
        print("\n--- QUẢN LÝ SẢN PHẨM ---")
        print("1. Hiển thị danh sách")
        print("2. Thêm sản phẩm")
        print("3. Tìm kiếm theo tên")
        print("4. Cập nhật giá & số lượng theo ID")
        print("5. Xóa sản phẩm theo ID")
        print("0. Thoát")
        
        choice = input("Chọn chức năng: ")
        cursor = conn.cursor()

        if choice == '1':
            cursor.execute("SELECT * FROM product")
            for row in cursor.fetchall(): print(row)
        
        elif choice == '2':
            name = input("Tên SP: ")
            price = float(input("Giá: "))
            amount = int(input("Số lượng: "))
            cursor.execute("INSERT INTO product (Name, Price, Amount) VALUES (?, ?, ?)", (name, price, amount))
            conn.commit()
            
        elif choice == '3':
            name = input("Nhập tên cần tìm: ")
            cursor.execute("SELECT * FROM product WHERE Name LIKE ?", ('%' + name + '%',))
            for row in cursor.fetchall(): print(row)

        elif choice == '4':
            pid = int(input("Nhập ID: "))
            price = float(input("Giá mới: "))
            amount = int(input("Số lượng mới: "))
            cursor.execute("UPDATE product SET Price = ?, Amount = ? WHERE Id = ?", (price, amount, pid))
            conn.commit()

        elif choice == '5':
            pid = int(input("Nhập ID cần xóa: "))
            cursor.execute("DELETE FROM product WHERE Id = ?", (pid,))
            conn.commit()
            
        elif choice == '0':
            break
    conn.close()

# Chạy ứng dụng
# main_menu()

5.11

In [11]:
import sqlite3

def init_hr_db():
    conn = sqlite3.connect('ql_nhan_vien.db')
    cursor = conn.cursor()
    
    # 1. Tạo bảng PHONG
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS PHONG (
            Id INTEGER PRIMARY KEY,
            Name TEXT NOT NULL,
            Price REAL NOT NULL, 
            Amount INTEGER NOT NULL
        )
    ''')
    # Lưu ý: Đề bài 5.11 ảnh 2 có ghi cấu trúc bảng PHONG giống bảng Product 
    # (có Price, Amount), mình làm theo đúng ảnh bạn gửi.

    # 2. Tạo bảng NHAN_VIEN với khóa ngoại Id_phong
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS NHAN_VIEN (
            id INTEGER PRIMARY KEY,
            ho_ten TEXT NOT NULL,
            Id_phong INTEGER,
            FOREIGN KEY (Id_phong) REFERENCES PHONG(Id)
        )
    ''')
    
    # 3. Thêm một số phòng ban mẫu
    phongs = [
        (101, 'Hành chính', 0, 10),
        (102, 'Kỹ thuật', 0, 20)
    ]
    cursor.executemany("INSERT OR IGNORE INTO PHONG VALUES (?,?,?,?)", phongs)
    
    # 4. Thêm nhân viên
    nvs = [
        (1, 'Nguyen Van A', 101),
        (2, 'Tran Thi B', 102)
    ]
    cursor.executemany("INSERT OR IGNORE INTO NHAN_VIEN VALUES (?,?,?)", nvs)
    
    conn.commit()
    print("Đã khởi tạo CSDL ql_nhan_vien.db và thêm dữ liệu mẫu.")
    
    # Hiển thị thử dữ liệu kết nối 2 bảng
    cursor.execute('''
        SELECT nv.ho_ten, p.Name 
        FROM NHAN_VIEN nv 
        JOIN PHONG p ON nv.Id_phong = p.Id
    ''')
    print("\nDanh sách nhân viên và phòng ban:")
    for row in cursor.fetchall():
        print(f"Nhân viên: {row[0]} - Phòng: {row[1]}")
        
    conn.close()

init_hr_db()

Đã khởi tạo CSDL ql_nhan_vien.db và thêm dữ liệu mẫu.

Danh sách nhân viên và phòng ban:
Nhân viên: Nguyen Van A - Phòng: Hành chính
Nhân viên: Tran Thi B - Phòng: Kỹ thuật